{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block extra_styles %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block content %}
    <h1>Profile of {{ user.email }}</h1>

    <div class="profile-view">
        <p><strong>Email: </strong> {{ profile.user.email }}</p>
        <p><strong>First name: </strong> {{ profile.first_name|default:"-" }}</p>
        <p><strong>Last name: </strong> {{ profile.last_name|default:"-" }}</p>
        <p><strong>Phone: </strong> {{ profile.phone_number }}</p>
        
        <a href="{% url 'profile edit' %}">                                                                                             
            <button type="button">Edit profile</button>
        </a>
        <a href="{% url 'profile delete' %}">
            <button type="button">Delete profile</button>
        </a>
    </div>
{% endblock %}
